<div id="content">
 <div id="header">
   <div class="ui center aligned icon header masthead">
     <img class="ui centered small rounded image middle aligned" :src="passIcon">
     <div class="caption middle aligned">Fill the form to get your next ride!</div>
   </div>

   <div class="ui container">
     <span>Your Name:</span>
     <input type="text">
     <span>Your Destination</span>

     <span>Where's your destination？</span>
     <select>
       <option>Ferry</option>
       <option>Airport</option>
     </select>

     <span>Your address of departure</span>
     <input type="text" placeholder="What's your address?">

     <span>How many people in your party? </span>
     <input type="number">

     <span>Any comment ?</span>
     <textarea placeholder="Tell us what else you need ? "></textarea>
   </div>
 </div>
</div>
