<div id="content">
  <div id="header">
    <div class="ui center aligned icon header masthead">
      <img class="ui centered small rounded image middle aligned" :src="drivericon">
      <div class="caption middle aligned">Take an order or bulabula....</div>
    </div>
  </div>

    <div id="orders">
      <div class="ui container">

        <div class="ui link card">
          <div class="content">
            <div class="header">Destination</div>
            <div class="meta">
              <span class="category">From: XXX</span>
            </div>
            <div class="description">
              <p>
                This part is for the MAP
              </p>
            </div>
          </div>
          <div class="extra content">
            <div class="right floated author">
              <img class="ui avatar image" :src="avatar"> User Name
            </div>
          </div>
      </div>
        <div class="ui link card">
          <div class="content">
            <div class="header">Destination</div>
            <div class="meta">
              <span class="category">From: XXX</span>
            </div>
            <div class="description">
              <p>
                This part is for the MAP
              </p>
            </div>
          </div>
          <div class="extra content">
            <div class="right floated author">
              <img class="ui avatar image" :src="avatar"> User Name
            </div>
          </div>
        </div>
        <div class="ui link card">
          <div class="content">
            <div class="header">Destination</div>
            <div class="meta">
              <span class="category">From: XXX</span>
            </div>
            <div class="description">
              <p>
                This part is for the MAP
              </p>
            </div>
          </div>
          <div class="extra content">
            <div class="right floated author">
              <img class="ui avatar image" :src="avatar"> User Name
            </div>
          </div>
        </div>
        <div class="ui link card">
          <div class="content">
            <div class="header">Destination</div>
            <div class="meta">
              <span class="category">From: XXX</span>
            </div>
            <div class="description">
              <p>
                This part is for the MAP
              </p>
            </div>
          </div>
          <div class="extra content">
            <div class="right floated author">
              <img class="ui avatar image" :src="avatar"> User Name
            </div>
          </div>
        </div>
        <div class="ui link card">
          <div class="content">
            <div class="header">Destination</div>
            <div class="meta">
              <span class="category">From: XXX</span>
            </div>
            <div class="description">
              <p>
                This part is for the MAP
              </p>
            </div>
          </div>
          <div class="extra content">
            <div class="right floated author">
              <img class="ui avatar image" :src="avatar"> User Name
            </div>
          </div>
        </div>
        <div class="ui link card">
          <div class="content">
            <div class="header">Destination</div>
            <div class="meta">
              <span class="category">From: XXX</span>
            </div>
            <div class="description">
              <p>
                This part is for the MAP
              </p>
            </div>
          </div>
          <div class="extra content">
            <div class="right floated author">
              <img class="ui avatar image" :src="avatar"> User Name
            </div>
          </div>
        </div>

    </div>

  </div>


</div>
